
html{
    font-size: 13px;
}

img{
    max-width: 100%;
}
h2, .h2{
    font-size: 2.8rem;
}

body{
    font-family: 'ArialMT';
    color: #9A9A9A;
}
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
      font-family: 'MuseoSlab-500';
}
/*Header*/
header{
    border-bottom: 1px dotted #000;
}
.navbar-brand{
    max-width: 50%;
}
header .navbar-nav a{
    font-size: 1.1rem;
    text-align: center;
    border-bottom: 1px dotted #000;
    transition: 0.5s linear;
}
header .navbar-nav li:last-of-type a{
    border-bottom: none;
}
header .navbar-nav li.active a,
header .navbar-nav li:hover a{
    background: #000;
    color: #fff!important;
    
    
/*News Section*/
.news .news-item{
    border-bottom: 1px dotted #9A9A9A;
}
.news .news-item:last-of-type{
    border-bottom: none;
}
.news .news-item figure{
    overflow: hidden;
}
.news .news-item figure img{
    transition: 0.5s linear;
}

.news .news-item figure:hover img{
    transform: scale(1.1);
}

.news-header h2{
    line-height: 3rem;
    letter-spacing: -1px;
   
}
.news-header h2 a{
    color: #000;
    text-decoration: none;
}
.news-header p.small{
    font-family: 'Arial-ItalicMT';
    color:#2e2e2e;
    font-size: 12px!important;
}
.news-header p.small:before{
    content: '';
    display: inline-block;
    width: 12px;
    height: 13px;
    border-left: 1px solid #a8a8a8;
    border-bottom: 1px solid #a8a8a8;
    position: relative;
    top: -3px;
}
.news-header .comments-number{
    width: 44px;
    height: 42px;
    background: url('assets/comments.png') no-repeat center;
    font-family: 'Arial-BoldMT';
    font-size: 18px;
    color: #fff;
    text-align: center;
    
}

.news-item-description p ~ p{
    display: none;
}
.news-item-description p{
    line-height: 1.4rem;
    max-height: 7rem;
    overflow: hidden;
}
.news-header .news-item .read-more{
    color: #e9e9e9;
    font-size: 12px;
    line-height: 18px;
    padding: 7px;
    background: #616161;
    display: inline-block;
    position: relative;
    text-decoration: none;
    transition: 0.5s linear;
   
}
.news .news-item .read-more:after{
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top:0;
    left: 100%;
    border: 16px solid transparent;
    border-left-color: #616161;
}
.news .news-item .read-more:hover{
    margin-left: 3px;
}
/*news navigation*/
.news-navigation a{
    text-decoration: none;
    color: #4d4d4d;
    font-size: 22px;
    font-family: 'Arial-BoldMT';
    text-decoration: none;
}
.news-navigation > span{
    color: #4d4d4d;
    font-size: 22px;
    padding: 0 15px;
    display: inline-block;
}

.news-navigation a:hover{
    color: #000;
    text-shadow:0 0 2px #4d4d4d;
}